<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" charset="utf-8"/>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="https://maps.google.com/maps/api/js?&zoom=12&sensor=false">
</script>
<script type="text/javascript" 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js">
</script>
<script type="text/javascript">
var map;
var marker;
window.infos = new Array();
var infowindow;   //Global infowindow created
function initialize(lat, lng) {
  var latlng = new google.maps.LatLng(lng, lat);
  var restaurants = new Array();
   var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

    var asyn = function(hello) {
        if (hello == 1) {
          var url = '/asyn/'+lng+'/'+lat;
        } else {
          var url = '/asyn/'+lng+'/'+lat+'/backup';
        }

      $.get(url,
            function(data) {
                if (data.success) {
                    var msgs = data.msgs;
                    var i = 0; 
                    for ( i <0; i < msgs.length;i++ ){          
                    var showImage = "<div><a href=http://weibo.com/"+msgs[i].uid+"><img src='"+msgs[i].photo+"' width=200px height=200px/>" + "<br/><br/></a><center style=width:200px>"+msgs[i].content+"！</center></div>";
                        var infowindow = new google.maps.InfoWindow({
                               content: showImage,
                               size: new google.maps.Size(20, 20)});
                        window.infos.push(infowindow);


                         var photo = new google.maps.LatLng(msgs[i].lng, msgs[i].lat);

                         var marker = new google.maps.Marker({
                                      position: photo,
                                      map:map,
                                      title:"Testing!",
                               });
                         popupDirections(marker, window.infos.length-1);
                    }

                }
            }
        )
      }

    var update = function() {
        $.get('/update',
                function(data) {
                 //   setTimeout("update()", 1000);
                }
            );
    }

    asyn(1);

    function timeout() {
        asyn(0);
        update();
    }
    timeout();
    setInterval(timeout, 30000);
}

function popupDirections(marker, index) {
  //this function created listener listens for click on a marker
  google.maps.event.addListener(marker, 'click', function() {
    for (var j = 0; j < window.infos.length; ++j) {
        window.infos[j].close();
    }
    window.infos[index].open(map,marker); //then opens the infowindow at the marker
  });
}


</script>
</head>
<body onload="initialize({{lat}}, {{lng}})">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
